@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/lato-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo__icon {
  margin-right: 56px;
}

.main-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.secondary-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.button {
  background-color: #5eaa2f;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.page-header {
  position: relative;
}

.page-header__wrapper {
  margin-top: 10px;
  margin-bottom: 17px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  background-image: url("../img/hamburger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 18px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.page-header__main-nav {
  width: 100%;
  top: 54px;
  left: 0;
}

.main-nav {
  background-color: #ffffff;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  width: 100%;
}

.page-footer {
  background-color: #f2f2f2;
}

.page-footer__wrapper {
  padding: 20px 0;
}

.page-footer__logo {
  text-align: center;
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social-list {
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright-link {
  text-decoration: none;
  color: #444444;
  background-image: url("../img/academy-logo.svg");
  background-repeat: no-repeat;
  background-position: center right;
  width: 100%;
  padding: 20px 0;
  display: block;
}

.address {
  padding: 26px 0 26px;
}

.address__dealers {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.address__location {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-style: normal;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

.social-list__item {
  margin-right: 24px;
}
.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  width: 28px;
  height: 22px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}
.social-list__link--vkontakte {
  background-image: url("../img/socials/vkontakte.svg");
}
.social-list__link--youtube {
  background-image: url("../img/socials/youtube.svg");
}
.social-list__link--telegram {
  background-image: url("../img/socials/telegram.svg");
}

.address-map__image {
  margin-left: -20px;
}

.page-main__wrapper {
  border-top: 1px solid #e6e6e6;
}

.page-main__title {
  margin-top: 27px;
}
.page-main__title--form {
  margin-bottom: 37px;
}
.page-main__title--catalog {
  margin-bottom: 41px;
}

.page-main__subheader {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}

.about__wrapper {
  padding-bottom: 49px;
}

.about__title {
  margin-bottom: 40px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 26px;
  padding-left: 82px;
  position: relative;
}
.about__item:last-child {
  margin-bottom: 0;
}
.about__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #5eaa2f;
  background-repeat: no-repeat;
  background-position: center;
  top: -3px;
  left: 0;
}
.about__item--healthy::before {
  background-image: url("../img/about/healthy-about.svg");
}
.about__item--powder::before {
  background-image: url("../img/about/powder-about.svg");
}
.about__item--food::before {
  background-image: url("../img/about/food-about.svg");
}
.about__item--time::before {
  background-image: url("../img/about/time-about.svg");
}

.example {
  background-color: #eaeaea;
}

.example__wrapper {
  padding-top: 35px;
  padding-bottom: 40px;
}

.example__result-descr {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-top: 40px;
  margin-bottom: 20px;
}

.example__result-data-wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.example__costs {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 20px;
}

.hero {
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 302px;
  background-color: #5eaa2f;
  opacity: 85%;
  z-index: -1;
}

.hero__wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 320px;
  height: 302px;
  background: url("../img/bg-cat-hero.png");
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  z-index: -2;
}

.hero__title {
  color: #ffffff;
  margin-top: 27px;
  text-align: center;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 25px;
  display: block;
  text-align: center;
}

.hero__image {
  display: block;
  margin-top: 29px;
}

.hero__button {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  padding: 7px 44px;
  box-sizing: border-box;
  text-align: center;
}

.program__wrapper {
  margin-top: 20px;
}

.program__item {
  background-color: #f2f2f2;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}

.program__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-left: 69px;
}
.program__title::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-color: #5eaa2f;
  top: 24px;
  left: 22px;
}
.program__title--slim::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 36px 50px;
  top: 21px;
  left: 29px;
}
.program__title--pro::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background-image: url("../img/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 28px;
  top: 35px;
  left: 13px;
}

.program__descr {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  color: #444444;
  margin-top: 29px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  position: relative;
  background-image: url("../img/arrow-program.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding: 4px 39px 4px 0;
}

.result-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-right: 32px;
}
.result-data:last-child {
  margin-right: 0;
}

.result-data__parameter {
  order: 2;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-top: -8px;
  background-color: #eaeaea;
  width: 87px;
}

.result-data__descr {
  order: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 100%;
  padding: 14px 0 17px;
  margin: 0;
}

.order-form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.order-form__legend {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.order-form__button {
  width: 100%;
  border: none;
  padding: 7px 0;
}

.order-form__hint {
  margin: 21px 0 32px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form-group {
  padding-bottom: 24px;
}

.form-group__legend {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}

.form-field__label {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
}

.form-programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
}

.radio__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.checkbox__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-options__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 34px;
}

.form-options__legend {
  margin-bottom: 34px;
}

.product-catalog {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.product-card__table-data {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__button {
  width: 100%;
}

.show-more-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.show-more-card__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.show-more-card__button {
  background-color: #f2f2f2;
  border: none;
  color: #444444;
  width: 100%;
}

.extra-product-catalog {
  padding: 25px 0 19px;
}

.extra-product-catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 36px;
}

.extra-product-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.extra-product-catalog__item {
  border-top: 1px solid #cdcdcd;
  padding: 13px 0 19px;
}

.extra-product-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
}

.extra-product-card__table {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
}

.extra-product-card__data {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #444444;
  margin: 0;
}

.extra-product-card__button {
  width: 100%;
}

.present {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-present.jpg");
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 59px 61px 43px 58px;
  box-sizing: border-box;
  text-align: center;
}

.page__body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.wrapper {
  width: 280px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */