@use "variables" as v;

.extra-product-card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: v.$font-size-xs;
  line-height: v.$line-height-2xs;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
}

.extra-product-card__table {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
}

.extra-product-card__data {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: v.$font-size-xs;
  line-height: v.$line-height-3xs;
  color: #444444;
  margin: 0;
}

.extra-product-card__button {
  @include v.order-button;
}
