@use "variables" as v;
@use "mixins" as m;

.about__wrapper {
  padding-bottom: 49px;

  @include m.breakpoint(medium) {
    padding-bottom: 47px;
  }
}

.about__title {
  margin-bottom: 40px;

  @include m.breakpoint(medium) {
    margin-bottom: 72px;
  }
}

.about__list {
  @include m.list-reset;

  @include m.breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px 60px;
  }

  @include m.breakpoint(large) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.about__item {
  @include m.text-small;
  margin-bottom: 26px;
  padding-left: 82px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-color: v.$brand-color-500;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
  }

  &--healthy::before {
    background-image: url("../img/about/healthy-about.svg");
  }

  &--powder::before {
    background-image: url("../img/about/powder-about.svg");
  }

  &--food::before {
    background-image: url("../img/about/food-about.svg");
  }

  &--time::before {
    background-image: url("../img/about/time-about.svg");
  }

  @include m.breakpoint(medium) {
    @include m.text-small-big-screen;
    padding-left: 0;
    padding-right: 75px;
    padding-top: 110px;
    padding-bottom: 45px;
    margin-bottom: 0;
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
      top: 0;
    }

    &--healthy::after {
      @include m.number-about;
      content:"1";
      right: 95px;
    }

    &--powder::after {
      @include m.number-about;
      content:"2";
      right: 79px;
    }

    &--food::after {
      @include m.number-about;
      content:"3";
      right: 78px;
    }

    &--time::after {
      @include m.number-about;
      content:"4";
      right: 75px;
    }
  }

  @include m.breakpoint(large) {
    padding-right: 0;

    &--healthy::after {
      right: 0;
    }

    &--powder::after {
      right: 0;
    }

    &--food::after {
      right: 0;
    }

    &--time::after {
      right: 0;
    }
  }
}
