@use "variables" as v;
@use "mixins" as m;

.address-map {
  position: relative;
  z-index: 0;
}

.address-map__image {
  width: 100%;
  height: auto;
  display: block;
}

.address-map__map {
  border: none;
  height: 362px;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  margin-bottom: -6px;

  @include m.breakpoint(medium) {
    height: 400px;
  }

  @include m.breakpoint(large) {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}
