@use "variables" as v;
@use "mixins" as m;

.address {
  @include m.breakpoint(large) {
    padding-top: 95px;
    padding-bottom: 107px;
  }
}

.address__wrapper {
  display: flex;
  padding: 26px 0 26px;
  background-color: v.$color-gray-50;

  @include m.breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 60px 40px;
  }

  @include m.breakpoint(large) {
    width: 565px;
    padding: 56px 60px 56px 80px;
    gap: 80px;
    background-color: v.$white-color;
    z-index: 2;
    position: relative;
  }
}

.address__dealers {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-s;
  text-transform: uppercase;
  margin: 0;
  flex: 1;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-l;
    margin-right: 130px;
  }

  @include m.breakpoint(large) {
    margin-right: 0;
  }
}

.address__location {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-s;
  color: v.$color-gray-400;
  font-style: normal;
  margin-left: 17px;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-2xs;
    line-height: v.$line-height-s;
    margin-left: 125px;
    text-align: right;
  }

  @include m.breakpoint(large) {
    text-align: left;
    margin-left: 0;
  }
}
