@use "variables" as v;
@use "mixins" as m;

.address {
  padding: 26px 0 26px;
}

.address__dealers {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-s;
  text-transform: uppercase;
  margin: 0;
  flex: 1;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-l;
  }
}

.address__location {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-s;
  color: v.$color-gray-400;
  font-style: normal;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-2xs;
    line-height: v.$line-height-s;
  }
}
