@use "variables" as v;

.button {
  background-color: v.$brand-color-500;
  font-family: v.$primary-font;
  font-size: v.$font-size-xs;
  line-height: v.$line-height-s;
  text-transform: uppercase;
  color: v.$white-color;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
