@use "variables" as v;
@use "mixins" as m;

.button {
  background-color: v.$brand-color-500;
  font-family: v.$primary-font;
  text-transform: uppercase;
  color: v.$white-color;
  text-decoration: none;
  display: block;
  text-align: center;
  cursor: pointer;
  padding: 7px 0;

  @include m.breakpoint(medium) {
    padding: 14px 0;
  }

  &--catalog {
    padding: 10px 0;
  }
}
