@use "variables" as v;
@use "mixins" as m;

.checkbox__text {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-xs;
  text-transform: uppercase;

  @include m.breakpoint(medium) {
    font-family: v.$primary-font;
    font-weight: 400;
    font-size: v.$font-size-s;
    line-height: v.$line-height-xl;
    text-transform: uppercase;
    color: v.$color-gray-400;
  }
}
