@use "variables" as v;
@use "mixins" as m;

.checkbox__text {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-xs;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include m.breakpoint(medium) {
    font-family: v.$primary-font;
    font-weight: 400;
    font-size: v.$font-size-s;
    line-height: v.$line-height-xl;
    text-transform: uppercase;
    color: v.$color-gray-400;
  }
}

.checkbox__input {
  display: none;
}

.checkbox__input + .checkbox__text::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid v.$color-gray-200;
  top: 0;
  left: 0;
  margin-right: 15px;

  @include m.breakpoint(medium) {
    width: 40px;
    height: 40px;
  }
}

.checkbox__input:checked + .checkbox__text::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/small-tick.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  top: 8px;
  left: 6px;

  @include m.breakpoint(medium) {
    background-image: url("../img/big-tick.svg");
    width: 26px;
    height: 26px;
    top: 7px;
    left: 7px;
  }
}
