@use "variables" as v;
@use "mixins" as m;

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;

  @include m.breakpoint(medium) {
    width: 40px;
    height: 40px;
  }
}

.checkbox__text {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-xs;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include m.breakpoint(medium) {
    font-family: v.$primary-font;
    font-weight: 400;
    font-size: v.$font-size-s;
    line-height: v.$line-height-xl;
    text-transform: uppercase;
    color: v.$color-gray-400;
  }
}

.checkbox__text::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid v.$color-gray-200;
  top: 0;
  left: 0;
  margin-right: 15px;

  @include m.breakpoint(medium) {
    width: 40px;
    height: 40px;
  }
}

.checkbox__text:hover::before {
  border: 1px solid #bababa;
}

.checkbox__input:disabled + .checkbox__text {
  opacity: 0.3;
}

.checkbox__input:checked + .checkbox__text::before {
  background-image: url("../img/sprite.svg#tick");
  background-repeat: no-repeat;
  background-size: 19px 15px;
  background-position: center;

  @include m.breakpoint(medium) {
    background-size: 26px 26px;
  }
}

.checkbox:focus-within .checkbox__text::before {
  border-color: v.$color-gray-400;
}
