@use "variables" as v;

.example {
  background-color: #eaeaea;

  &__wrapper {
    @include v.block-center;
    padding-top: 35px;
    padding-bottom: 40px;
  }

  &__result-descr {
    @include v.text-style-small;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__result-data-wrapper {
    @include v.list-reset;
    display: flex;
  }

  &__costs {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: v.$font-size-2xs;
    line-height: v.$line-height-s;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 20px;
  }
}
