@use "variables" as v;
@use "mixins" as m;

.example {
  background-color: #eaeaea;
  position: relative;

  @include m.breakpoint(medium) {
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 462px;
      background-color: v.$color-gray-50;
      bottom: 0;
      z-index: -1;
    }
  }
}

.example__wrapper {
  padding-top: 24px;
  padding-bottom: 34px;

  @include m.breakpoint(medium) {
    padding-top: 55px;
    padding-bottom: 100px;
  }

  @include m.breakpoint(large) {
    padding-top: 40px;
    padding-bottom: 75px;
  }
}

.example__title {
  margin-bottom: 40px;

  @include m.breakpoint(medium) {
    margin-bottom: 63px;
  }

  @include m.breakpoint(large) {
    margin-bottom: -60px;
  }
}

.example__info {
  display: flex;
  flex-direction: column;
}

.example__result-descr {
  @include m.text-small;
  margin-top: 0;
  margin-bottom: 20px;
  color: v.$color-gray-400;

  @include m.breakpoint(medium) {
    @include m.text-small-big-screen;
    margin-bottom: 54px;
  }

  @include m.breakpoint(large) {
    margin-right: 138px;
    margin-bottom: 70px;
  }
}

.example__result-data-wrapper {
  @include m.list-reset;
  display: flex;

  @include m.breakpoint(medium) {
    flex: 1;
    margin-right: 167px;
  }

  @include m.breakpoint(large) {
    margin-bottom: 45px;
    margin-right: 204px;
  }
}

.example__result-costs-wrapper {
  @include m.breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
  }

  @include m.breakpoint(large) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__costs {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-s;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-s;
    text-align: right;
    margin-bottom: 0;
  }

  @include m.breakpoint(large) {
    text-align: left;
  }
}

.example__costs-text {
  @include m.breakpoint(medium) {
    display: block;
    margin-bottom: 10px;
  }

  @include m.breakpoint(large) {
    display: inline;
    margin-right: 63px;
  }
}

.example__info-slider {
  @include m.breakpoint(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: end;
  }
}

.example__slider {
  margin: 0;

  @include m.breakpoint(medium) {
    margin: 0 75px 0 75px;
  }

  @include m.breakpoint(large) {
    margin: 0;
  }
}
