@use "variables" as v;
@use "mixins" as m;

.example {
  background-color: #eaeaea;
}

.example__wrapper {
  padding-top: 35px;
  padding-bottom: 40px;
}

.example__info {
  display: flex;
  flex-direction: column;
}

.example__result-descr {
  @include m.text-small;
  margin-top: 40px;
  margin-bottom: 20px;
  color: v.$color-gray-400;
}

.example__result-data-wrapper {
  @include m.list-reset;
  display: flex;
}

.example__costs {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-s;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 20px;
}

@media (min-width: v.$tablet-width) {
  .example {
    background-color: v.$white-color;
  }

  .example__wrapper {
    padding-top: 43px;
    padding-bottom: 0;
  }

  .example__result-costs-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__result-data-wrapper {
    flex: 1;
    margin-right: 67px;
  }

  .example__result-descr {
    @include m.text-small-big-screen;
  }

  .example__costs {
    font-size: v.$font-size-s;
    line-height: v.$line-height-s;
  }
}

@media (min-width: v.$desktop-width) {
  .example__result-costs-wrapper {
    flex-direction: column;
  }

  .example__info-slider {
    display: flex;
  }
}
