@use "variables" as v;
@use "mixins" as m;

.extra-product-card__title {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-2xs;
  text-transform: uppercase;
  color: v.$color-gray-500;
  margin: 0;
  margin-bottom: 13px;
}

.extra-product-card__table {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
}

.extra-product-card__data {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-3xs;
  color: v.$color-gray-400;
  margin: 0;
}

.extra-product-card__button {
  width: 100%;
}

@media (min-width: v.$tablet-width) {
  .extra-product-card {
    padding: 26px 38px 28px 38px;
    display: grid;
    gap: 0 60px;
  }

  .extra-product-card__title {
    grid-column: 1/2;
    grid-row: 1;
  }

  .extra-product-card__table {
    grid-column: 2/3;
    grid-row: 1;
    margin-bottom: 0;
  }

  .extra-product-card__button {
    grid-column: 1/3;
    grid-row: 2;
  }
}

@media (min-width: v.$desktop-width) {
  .extra-product-card {
    padding: 15px 0;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 245px);
    grid-template-rows: none;
    gap: 0 80px;
    align-items: center;
  }

  .extra-product-card__title {
    grid-column: 1;
    grid-row: none;
    margin-bottom: 0;
  }

  .extra-product-card__table {
    grid-column: 2;
    grid-row: none;
    position: relative;
  }

  .extra-product-card__data:last-child {
    position: absolute;
    left: 100%;
    width: 80px;
  }

  .extra-product-card__button {
    grid-column: 3;
    grid-row: none;
  }

  // .extra-product-card {
  //   display: flex;
  //   gap: 0;
  // }

  // .extra-product-card__title {
  //   width: 245px;
  //   margin-right: 80px;
  // }

  // .extra-product-card__table {
  //   flex: 1;
  // }

  // .extra-product-card__button {
  //   width: 245px;
  // }
}
