@use "variables" as v;
@use "mixins" as m;

.extra-product-catalog {
  position: relative;

  @include m.breakpoint(medium) {
    padding-bottom: 78px;
  }

  @include m.breakpoint(large) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
    padding-bottom: 85px;
  }
}

.extra-product-catalog__title {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-m;
  line-height: v.$line-height-2xl;
  margin: 0;
  background-color: v.$white-color;
  padding: 0 20px;
  margin-left: -20px;
  margin-bottom: 28px;
  width: fit-content;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: v.$brand-color-400;
    top: 20px;
    left: calc(50% - 50vw);
    width: 100vw;
    z-index: -1;
  }

  @include m.breakpoint(medium) {
    font-size: v.$font-size-xl;
    line-height: v.$line-height-2xl;
    padding: 0 36px;
    margin-left: 1px;
    margin-bottom: 80px;
  }

  @include m.breakpoint(large) {
    grid-column: 1/5;
    grid-row: 1;
    margin-bottom: 80px;
    margin-left: -40px;
  }
}

.extra-product-catalog__list {
  @include m.list-reset;

  @include m.breakpoint(medium) {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  @include m.breakpoint(large) {
    grid-column: 1/4;
    grid-row: 2;
    border-left: none;
    border-right: none;
  }
}

.extra-product-catalog__item {
  border-top: 1px solid v.$color-gray-200;
  padding: 13px 0 18px;

  &:last-child {
    border-bottom: 1px solid v.$color-gray-200;
  }
}

.extra-product-catalog__present {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-s;
  color: v.$white-color;
  background-image:
    linear-gradient(to top, rgba(v.$brand-color-400, 0.85), rgba(v.$brand-color-400, 0.85)),
    url("../img/cat-present/cat-present-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: v.$brand-color-500;
  padding: 187px 55px 43px;
  text-align: center;
  position: relative;
  margin: 34px 0;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(to top, rgba(v.$brand-color-400, 0.85), rgba(v.$brand-color-400, 0.85)),
      url("../img/cat-present/cat-present-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    background-image: url("../img/sprite.svg#present");
    background-repeat: no-repeat;
    background-size: 78px 80px;
    top: 59px;
    left: 101px;
  }

  @include m.breakpoint(medium) {
    margin: 0;
    margin-top: 68px;
    background-image:
      linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/cat-present/cat-present-tablet.jpg");
    text-align: left;
    padding: 71px 124px 69px 422px;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/cat-present/cat-present-tablet@2x.jpg");
    }

    &::after {
      width: 80px;
      height: 82px;
      background-size: 80px 82px;
      top: 57px;
      left: 77px;
    }
  }

  @include m.breakpoint(large) {
    grid-column: 4/5;
    grid-row: 2;
    margin-top: 0;
    background-image:
      linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/cat-present/cat-present-desktop.jpg");
    text-align: center;
    padding: 185px 43px 42px 41px;

    @media (min-resolution: 2dppx) {
      background-image:
        linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/cat-present/cat-present-desktop@2x.jpg");
    }

    &::after {
      top: 56px;
      left: 84px;
    }
  }
}
