@use "variables" as v;
@use "mixins" as m;

.form-group {
  padding-bottom: 24px;

  &--contacts {
    padding-bottom: 0;
  }

  @include m.breakpoint(medium) {
    padding-bottom: 0;

    &--personal {
      margin-bottom: 72px;
    }

    &--contacts {
      margin-bottom: 46px;
    }
  }

  @include m.breakpoint(large) {
    &--personal {
      grid-column: 1/2;
      margin-bottom: 0;
    }

    &--contacts {
      margin-bottom: 0;
    }
  }
}

.form-group__list {
  padding-left: 0;

  @include m.breakpoint(large) {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
    margin-bottom: 68px;
  }
}

.form-group__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @include m.breakpoint(medium) {
    margin-bottom: 22px;
  }
}
