@use "variables" as v;
@use "mixins" as m;

.form-options {
  @include m.breakpoint(large) {
    grid-column: 1/3;
    grid-row: 4;
  }
}

.form-options__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @include m.breakpoint(medium) {
    margin-bottom: 0;
  }
}

.form-options__list {
  @include m.list-reset;
  margin-bottom: 34px;

  @include m.breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
  }
}

.form-options__legend {
  margin-bottom: 34px;
}
