@use "variables" as v;
@use "mixins" as m;

.form-programs {
  padding-top: 22px;
  padding-bottom: 19px;
}

.form-programs__item {
  margin-bottom: 13px;
}

.form-programs__list {
  @include m.list-reset;
}
