@use "variables" as v;
@use "mixins" as m;

.form-field {
  display: flex;
  align-items: center;
  clear: both;
  position: relative;

  &--contacts {
    flex-direction: row-reverse;

    @include m.breakpoint(large) {
      margin-bottom: 0;
    }
  }
}

.form-field__label {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-xs;
  color: v.$color-gray-400;
  text-transform: uppercase;
  margin-right: 13px;
  white-space: nowrap;

  &--icon {
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 13px;
      right: 15px;
      background-color: v.$black-color;
      background-repeat: no-repeat;
    }
  }

  &--icon-mail {
    &::after {
      mask: url("../img/sprite.svg#mail");
    }
  }

  &--icon-phone {
    &::after {
      mask: url("../img/sprite.svg#phone");
    }
  }

  @include m.breakpoint(medium) {
    font-family: v.$primary-font;
    font-weight: 400;
    font-size: v.$font-size-s;
    line-height: v.$line-height-xl;
    text-transform: uppercase;
    color: v.$color-gray-400;

    &--icon {
      margin-right: 20px;
    }

    &::after {
      top: 20px;
      right: 18px;
    }
  }
}

.form-field__input {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-xs;
  color: v.$color-gray-400;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 15px 13px 20px;
  border: 1px solid #e7e7e7;
  -moz-appearance: textfield; /* stylelint-disable-line */

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &--error {
    outline-offset: -2px;
    outline: 2px solid #ff8282;
  }

  &--error + .form-field__label-contacts {
    &::after {
      background-color: #ff8282;
    }
  }

  &:hover {
    outline: 1px solid v.$color-gray-200;
  }

  &:focus {
    outline-offset: -2px;
    outline: 2px solid v.$color-gray-400;
  }

  &:focus + .form-field__label--icon {
    &::after {
      background-color: v.$brand-color-400;
    }
  }

  &:user-invalid {
    outline-offset: -2px;
    outline: 2px solid #ff8282;
  }

  &:user-invalid + .form-field__label--icon {
    &::after {
      background-color: #ff8282;
    }
  }

  &::placeholder {
    color: v.$color-gray-400;
    opacity: 1;
  }

  &--contacts {
    padding-left: 15px;
  }

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-xl;
    padding: 10px 15px 10px 20px;
  }
}

.form-field__input--comment {
  padding-left: 15px;
  padding-right: 12px;
  height: 152px;
  margin-top: 38px;
  margin-bottom: 25px;
  padding-top: 8px;

  @include m.breakpoint(medium) {
    height: 172px;
    margin-top: 76px;
    margin-bottom: 65px;
  }

  @include m.breakpoint(large) {
    padding-left: 20px;
    padding-top: 10px;
    height: 174px;
  }
}
