@use "variables" as v;
@use "mixins" as m;

.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-color: v.$brand-color-500;
    opacity: 85%;
    z-index: -1;
  }

  @include m.breakpoint(medium) {
    &::before {
      display: none;
    }
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 320px;
    height: 302px;
    background: url("../img/bg-cat-hero.png");
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    z-index: -2;
  }

  @include m.breakpoint(medium) {
    align-items: start;
    padding-left: 88px;

    &::after {
      display: none;
    }
  }

  @include m.breakpoint(large) {
    padding-left: 80px;
    position: relative;
    padding-bottom: 185px;
  }
}

.hero__title {
  color: v.$white-color;
  margin-top: 27px;
  text-align: center;

  @include m.breakpoint(medium) {
    color: v.$black-color;
    margin-top: 62px;
    text-align: start;
  }

  @include m.breakpoint(large) {
    margin-top: 111px;
  }
}

.hero__slogan {
  font-family: v.$primary-font;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-3xs;
  color: v.$white-color;
  text-transform: uppercase;
  margin-top: 25px;
  display: block;
  text-align: center;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-s;
    color: v.$black-color;
    margin-top: 41px;
    margin-bottom: 49px;
  }
}

.hero__image {
  display: block;
  margin-top: 29px;

  @include m.breakpoint(medium) {
    width: 100%;
    height: auto;
    order: 3;
    margin-top: -75px;
    z-index: -1;
  }

  @include m.breakpoint(large) {
    position: absolute;
    margin-top: 0;
    height: 500px;
    width: auto;
    top: 32px;
    left: 448px;
  }
}

.hero__button {
  width: 100%;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-xs;
  padding: 7px 0;
  text-align: center;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-s;
    padding: 14px 26px;
    width: fit-content;
  }
}
