@use "variables" as v;
@use "mixins" as m;

.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-color: v.$brand-color-500;
    opacity: 85%;
    z-index: -1;
  }

  @include m.breakpoint(medium) {
    &::before {
      display: none;
    }
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    min-width: 280px;
    height: 302px;
    background-image: url("../img/bg-cat-hero.jpg");
    background-size: 320px;
    background-repeat: no-repeat;
    z-index: -2;
    background-position: center;
    background-color: #444348;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-cat-hero@2x.jpg");
    }
  }

  @include m.breakpoint(medium) {
    align-items: start;
    padding-left: 88px;
    padding-bottom: 526px;

    &::before {
      display: none;
    }
  }

  @include m.breakpoint(large) {
    padding-left: 80px;
    position: relative;
    padding-bottom: 185px;
  }
}

.hero__title {
  color: v.$white-color;
  margin-top: 27px;
  text-align: center;

  @include m.breakpoint(medium) {
    color: v.$black-color;
    width: 420px;
    margin-top: 62px;
    text-align: start;
  }

  @include m.breakpoint(large) {
    margin-top: 105px;
  }
}

.hero__slogan {
  font-family: v.$primary-font;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-3xs;
  color: v.$white-color;
  text-transform: uppercase;
  margin-top: 25px;
  display: block;
  text-align: center;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-s;
    color: v.$black-color;
    margin-top: 41px;
    margin-bottom: 44px;
  }

  @include m.breakpoint(large) {
    margin-bottom: 48px;
  }
}

.hero__image {
  display: block;
  width: 100%;
  margin-top: 29px;

  @include m.breakpoint(medium) {
    position: absolute;
    height: auto;
    margin-top: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
  }

  @include m.breakpoint(large) {
    height: 500px;
    width: auto;
    top: 25px;
    bottom: auto;
    left: 448px;
  }
}

.hero__button {
  width: 100%;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-s;
  margin-top: 3px;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-s;
    width: 244px;
  }
}
