@use "mixins" as m;

.logo {
  text-decoration: none;
  display: grid;
  grid-template-columns: 34px 1fr;
  justify-items: center;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include m.breakpoint(medium) {
    grid-template-columns: 70px 1fr;
  }
}

.logo__icon {
  grid-column: 1/2;

  @include m.breakpoint(medium) {
    width: 60px;
    height: 50px;
  }

  @include m.breakpoint(large) {
    width: 70px;
    height: 60px;
  }
}

.logo__text {
  &--header {
    grid-column: 2/3;
    margin-left: -12px;

    @include m.breakpoint(medium) {
      margin-left: 12px;
    }

    @include m.breakpoint(large) {
      margin-left: 14px;
    }
  }
}
