.logo {
  text-decoration: none;
  display: grid;
  grid-template-columns: 34px 1fr;
  justify-items: center;
  align-items: center;
}

.logo__icon {
  grid-column: 1/2;
}

.logo__text {
  grid-column: 2/3;
}
