@use "mixins" as m;
@use "variables" as v;

.main-nav {
  max-width: 500px;

  @include m.breakpoint(medium) {
    max-width: 450px;
  }

  @include m.breakpoint(large) {
    max-width: 500px;
  }
}

.main-nav__wrapper {
  // display: none;

  @include m.breakpoint(medium) {
    margin-top: 10px;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include m.breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;
  width: 100vw;
  display: flex;
  justify-content: center;
  min-width: 280px;

  @include m.breakpoint(medium) {
    display: block;
    margin-right: 37px;
    border-top: none;
    min-width: auto;
    width: auto;
    max-width: 443px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__item--current {
  @include m.breakpoint(medium) {
    padding-bottom: 8px;
    border-bottom: 2px solid v.$brand-color-400;
  }

  @include m.breakpoint(large) {
    padding-bottom: 5px;
  }
}

.main-nav__item--current-index {
  @include m.breakpoint(large) {
    border-bottom: 2px solid v.$white-color;
  }
}

.main-nav__link {
  font-family: v.$primary-font;
  font-weight: 500;
  font-size: v.$font-size-s;
  line-height: v.$line-height-s;
  text-transform: uppercase;
  color: v.$black-color;
  text-decoration: none;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  max-width: 280px;
  word-wrap: break-word;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include m.breakpoint(medium) {
    font-weight: 400;
    font-size: v.$font-size-xs;
    line-height: v.$line-height-m;
    padding: 0;
    border-top: none;
    text-align: start;
  }

  @include m.breakpoint(large) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-xl;

    &--light {
      color: v.$white-color;
    }
  }
}
