@use "mixins" as m;
@use "variables" as v;

.main-nav__wrapper {
  @include m.breakpoint(medium) {
    margin-top: 18px;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @include m.breakpoint(medium) {
    display: flex;
  }
}

.main-nav__item {
  @include m.breakpoint(medium) {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__item--current {
  @include m.breakpoint(medium) {
    padding-bottom: 12px;
    border-bottom: 2px solid v.$brand-color-400;
  }
}

.main-nav__item--current-index {
  @include m.breakpoint(large) {
    padding-bottom: 12px;
    border-bottom: 2px solid v.$white-color;
  }
}

.main-nav__link {
  font-family: v.$primary-font;
  font-weight: 500;
  font-size: v.$font-size-s;
  line-height: v.$line-height-s;
  text-transform: uppercase;
  color: v.$black-color;
  text-decoration: none;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include m.breakpoint(medium) {
    font-weight: 400;
    font-size: v.$font-size-xs;
    line-height: v.$line-height-m;
    padding: 0;
    border-top: none;
    text-align: start;
  }

  @include m.breakpoint(large) {
    &--light {
      color: v.$white-color;
    }
  }
}
