@use 'variables' as v;

.main-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: v.$font-size-xl;
  line-height: v.$line-height-2xl;
  color: v.$text-color-primary;
  margin: 0;
}
