@use "variables" as v;

.main-nav {
  background-color: v.$white-color;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__link {
  font-family: v.$primary-font;
  font-weight: 500;
  font-size: v.$font-size-s;
  line-height: v.$line-height-s;
  text-transform: uppercase;
  color: v.$black-color;
  text-decoration: none;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  text-align: center;
}

@media (min-width: v.$tablet-width) {

  .main-nav__list {
    display: flex;
    margin-top: 18px;
  }

  .main-nav__link {
    font-weight: 400;
    font-size: v.$font-size-xs;
    line-height: v.$line-height-m;
    padding: 0;
    border-top: none;
    text-align: start;
    margin-right: 35px;
  }
}
