@use "variables" as v;
@use "mixins" as m;

.order-form {
  @include m.breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include m.breakpoint(large) {
    gap: 67px 80px;
  }
}

.order-form__group {
  @include m.form-reset;
}

.order-form__legend {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-m;
  line-height: v.$line-height-l;
  display: block;
  margin-bottom: 35px;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-xl;
    line-height: v.$line-height-2xl;
    margin-bottom: 76px;
  }
}

.order-form__button {
  font-size: v.$font-size-2xs;
  width: 100%;
  border: none;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
  }
}

.order-form__hint {
  margin: 21px 0 32px;
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-2xs;
  text-align: center;
}
