@use "variables" as v;
@use "mixins" as m;

.order-form {
  @include m.breakpoint(medium) {
    display: grid;
    gap: 0 60px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 72px;
  }

  @include m.breakpoint(large) {
    gap: 68px 80px;
    padding-bottom: 82px;
  }
}

.order-form__group {
  @include m.form-reset;
  position: relative;


  @include m.breakpoint(medium) {
    grid-column: 1/3;
  }
}

.order-form__legend {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-m;
  line-height: v.$line-height-l;
  background-color: v.$white-color;
  padding: 0 20px;
  margin-left: -20px;
  float: left;

  &--contacts {
    width: 227px;
    margin-bottom: 35px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: v.$brand-color-400;
    top: 15px;
    left: calc(50% - 50vw);
    width: 100vw;
    z-index: -1;
  }

  @include m.breakpoint(medium) {
    font-size: v.$font-size-xl;
    line-height: v.$line-height-2xl;

    &--contacts {
      width: fit-content;
      grid-column: 1/-1;
      margin-bottom: 76px;
    }

    &::before {
      top: 22px;
    }
  }
}

.order-form__button {
  font-size: v.$font-size-2xs;
  width: 100%;
  border: none;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
  }
}

.order-form__hint {
  text-align: center;
  margin-bottom: 32px;

  @include m.breakpoint(medium) {
    text-align: left;
    margin-top: 13px;
    margin-bottom: 0;
  }
}

.order-form__hint-text {
  margin: 21px 0 32px;
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-2xs;

  @include m.breakpoint(medium) {
    font-size: v.$line-height-2xs;
  }
}
