@use "variables" as v;

.page-header__wrapper {
  padding-top: 10px;
  padding-bottom: 17px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  background-image: url("../img/hamburger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 18px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.page-header__main-nav {
  position: absolute;
  width: 100%;
  top: 64px;
  left: 0;
  z-index: 1;
}

@media (min-width: v.$tablet-width) {
  .page-header__wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__main-nav {
    position: static;
    display: flex;
    width: auto;
  }
}
