@use "variables" as v;
@use "mixins" as m;

.page__body {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-s;
  color: v.$black-color;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: v.$white-color;
}

.page__main {
  overflow: hidden;
}

.page__body--main {
  @include m.breakpoint(large) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 694px;
      background-image:
        linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/bg-cat-desktop.jpg");
      background-repeat: no-repeat;
      background-size: 1043px 696px;
      background-color: v.$brand-color-500;
      opacity: 85%;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
          url("../img/bg-cat-desktop@2x.jpg");
      }
    }
  }
}
