@use "variables" as v;
@use "mixins" as m;

.page-main__wrapper {
  border-top: 1px solid #e6e6e6;
}

.page-main__title {
  margin-top: 27px;

  &--form {
    margin-bottom: 37px;
  }

  &--catalog {
    margin-bottom: 41px;
  }
}

.page-main__subheader {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-xs;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}
