@use "variables" as v;
@use "mixins" as m;

.page-header__wrapper {
  padding-top: 10px;

  @include m.breakpoint(medium) {
    width: 708px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  @include m.breakpoint(large) {
    padding-top: 52px;
    width: 1220px;
  }
}

.page-header__logo-btn {
  display: grid;
  grid-template-columns: 34px 1fr 24px;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 12px;

  @include m.breakpoint(medium) {
    grid-template-columns: 34px 1fr;
    padding-bottom: 0;
    width: auto;
    margin: 0;
  }
}

.page-header__logo {
  grid-column: 1/3;
  grid-row: 1;
}

.page-header__toggle {
  background-image: url("../img/sprite.svg#hamburger-menu");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 18px;
  border: none;
  padding: 0;
  cursor: pointer;
  grid-column: 3/4;
  grid-row: 1;
  display: none;

  @include m.breakpoint(medium) {
    display: none;
  }
}

.page-header__main-nav {
  width: 100%;
  top: 64px;
  left: 0;
  z-index: 1;
  grid-column: 1/5;
  grid-row: 2;

  @include m.breakpoint(medium) {
    display: flex;
    width: auto;
  }
}
