@use "variables" as v;
@use "mixins" as m;

.page-main__wrapper {
  @include m.breakpoint(medium) {
    &--form {
      padding: 0 40px;
    }
  }
}

.page-main__title {
  margin-top: 27px;

  &--form {
    margin-bottom: 37px;
  }

  &--catalog {
    margin-bottom: 41px;
  }

  @include m.breakpoint(medium) {
    margin-top: 65px;

    &--form {
      margin-bottom: 54px;
    }

    &--catalog {
      margin-bottom: 82px;
    }
  }

  @include m.breakpoint(large) {
    margin-top: 77px;

    &--form {
      margin-bottom: 56px;
    }

    &--catalog {
      margin-bottom: 84px;
    }
  }
}

.page-main__subheader {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-xs;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-xl;
    margin-bottom: 66px;
  }
}
