@use "variables" as v;
@use "mixins" as m;

.page-header {
  position: relative;
}

.page-header__wrapper {
  margin-top: 10px;
  margin-bottom: 17px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  background-image: url("../img/hamburger-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 18px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.page-header__main-nav {
  width: 100%;
  top: 54px;
  left: 0;
}
