@use "variables" as v;
@use "mixins" as m;

.page-footer {
  background-color: v.$color-gray-50;
}

.page-footer__wrapper {
  padding: 20px 0;

  @include m.breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    padding: 57px 0;
  }

  @include m.breakpoint(large) {
    padding: 75px 0;
  }
}

.page-footer__logo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid #d9d9d9;

  @include m.breakpoint(medium) {
    padding: 0;
    border-bottom: none;
  }
}

.page-footer__social-list {
  @include m.list-reset;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include m.breakpoint(medium) {
    padding: 0;
    border-bottom: none;
    margin-left: 27px;
  }
}

.page-footer__copyright-link {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-xs;
  text-decoration: none;
  color: v.$color-gray-400;

  width: 100%;
  padding: 28px 0;
  display: block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    mask: url("../img/sprite.svg#academy-logo");
    background-color: v.$color-gray-300;
    background-repeat: no-repeat;
    width: 27px;
    height: 34px;
    right: 0;
    top: 20px;
  }

  &:hover::after,
  &:focus::after {
    background-color: v.$brand-color-400;
  }

  &:active {
    opacity: 0.3;
  }

  @include m.breakpoint(medium) {
    width: auto;
    padding: 9px 54px 9px 0;

    &::after {
      top: 0;
    }
  }
}
