@use "variables" as v;

.present {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-xs;
  line-height: v.$line-height-s;
  color: v.$white-color;
  background-image:
    linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/cat-present.jpg");
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 59px 61px 43px 58px;
  box-sizing: border-box;
  text-align: center;
}
