@use "variables" as v;
@use "mixins" as m;

.product-card {
  @include m.list-reset;

  @include m.breakpoint(medium) {
    padding: 0 36px 39px 36px;
  }

  @include m.breakpoint(large) {
    padding: 0 30px 40px 35px;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-s;
  color: v.$color-gray-500;
  text-transform: uppercase;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-m;
  }

  @include m.breakpoint(large) {
    line-height: v.$line-height-s;
  }
}

.product-card__table-data {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-4xs;
  line-height: v.$line-height-2xs;
  color: v.$color-gray-400;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-2xs;
    line-height: v.$line-height-2xs;
  }
}

.product-card__button {
  width: 100%;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-s;
}
