@use "variables" as v;
@use "mixins" as m;

.product-card {
  @include m.list-reset;
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-xs;
  line-height: v.$line-height-s;
  color: v.$color-gray-500;
  text-transform: uppercase;
}

.product-card__table-data {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-2xs;
  color: v.$color-gray-400;
}

.product-card__button {
  width: 100%;
}
