@use "variables" as v;
@use "mixins" as m;

.program__wrapper {
  margin-top: 20px;
}

.program__item {
  background-color: v.$color-gray-50;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}

.program__title {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-m;
  line-height: v.$line-height-2xl;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-left: 69px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: v.$brand-color-500;
    top: 24px;
    left: 22px;
  }

  &--slim::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    background-image: url("../../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: 36px 50px;
    top: 21px;
    left: 29px;
  }

  &--pro::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    background-image: url("../../img/cat-pro.svg");
    background-repeat: no-repeat;
    background-size: 67px 28px;
    top: 35px;
    left: 13px;
  }
}

.program__descr {
  @include m.text-style-small;
  color: v.$color-gray-400;
  margin-top: 29px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  font-family: v.$primary-font;
  font-size: v.$font-size-xs;
  line-height: v.$line-height-2xs;
  text-transform: uppercase;
  text-decoration: none;
  color: v.$text-color-primary;
  position: relative;
  background-image: url("../../img/arrow-program.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding: 4px 39px 4px 0;
}
