@use "variables" as v;
@use "mixins" as m;

.program__wrapper {
  margin-top: 20px;

  @include m.breakpoint(medium) {
    margin-top: 0;
    padding-bottom: 45px;
  }

  @include m.breakpoint(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 70px;
  }
}

.program__item {
  background-color: v.$color-gray-50;
  padding: 30px 20px 18px 20px;
  margin-bottom: 20px;
  position: relative;

  @include m.breakpoint(medium) {
    padding: 77px 62px 53px 52px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include m.breakpoint(large) {
    margin-bottom: 0;
  }
}

.program__title {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-m;
  line-height: v.$line-height-2xl;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-left: 69px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: v.$brand-color-500;
    top: 24px;
    left: 22px;
  }

  &--slim::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: 36px 50px;
    top: 21px;
    left: 29px;
  }

  &--pro::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    background-image: url("../img/cat-pro.svg");
    background-repeat: no-repeat;
    background-size: 67px 28px;
    top: 35px;
    left: 13px;
  }

  @include m.breakpoint(medium) {
    font-size: v.$font-size-xl;
    line-height: v.$line-height-2xl;
    margin-left: 0;

    &::before {
      width: 200px;
      height: 200px;
      top: 91px;
      right: 62px;
      left: auto;
    }

    &--slim::after {
      width: 140px;
      height: 194px;
      top: 81px;
      left: auto;
      right: 92px;
      background-size: 140px 194px;
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      background-size: 268px 112px;
      top: 135px;
      left: auto;
      right: 28px;
    }
  }

  @include m.breakpoint(large) {
    margin-left: 164px;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
      right: auto;
    }

    &--slim::after {
      width: 70px;
      height: 97px;
      background-size: 70px 97px;
      top: 41px;
      left: 67px;
      right: auto;
    }

    &--pro::after {
      width: 134px;
      height: 56px;
      background-size: 134px 56px;
      top: 67px;
      left: 33px;
      right: auto;
    }
  }
}

.program__descr {
  @include m.text-small;
  color: v.$color-gray-400;
  margin-top: 29px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;


  @include m.breakpoint(medium) {
    @include m.text-small-big-screen;
    color: v.$black-color;
    margin-right: 254px;
    margin-top: 24px;
    margin-bottom: 48px;
    border-bottom: none;
    padding-bottom: 0;
  }

  @include m.breakpoint(large) {
    margin-top: 73px;
    margin-bottom: 23px;
    margin-right: 0;
  }
}

.program__link {
  font-family: v.$primary-font;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-2xs;
  text-transform: uppercase;
  text-decoration: none;
  color: v.$black-color;
  position: relative;
  background-image: url("../img/arrow-program.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding: 4px 39px 4px 0;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: v.$line-height-xl;
  }
}
