@use "variables" as v;
@use "mixins" as m;

.radio {
  position: relative;
}

.radio__input {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;

  @include m.breakpoint(medium) {
    width: 40px;
    height: 40px;
  }
}

.radio__text {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-xs;
  text-transform: uppercase;
  color: v.$color-gray-500;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;

  @include m.breakpoint(medium) {
    font-family: v.$primary-font;
    font-weight: 400;
    font-size: v.$font-size-s;
    line-height: v.$line-height-xl;
    text-transform: uppercase;
    color: v.$color-gray-400;
  }
}

.radio__text::before {
  content: "";
  width: 31px;
  height: 31px;
  border-radius: 100%;
  border: 1px solid v.$color-gray-200;
  top: 0;
  left: 0;
  margin-right: 15px;
  min-width: 31px;

  @include m.breakpoint(medium) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.radio__text:hover::before {
  border: 1px solid #bababa;
}

.radio__input:disabled + .radio__text {
  opacity: 0.3;
}

.radio__input:checked + .radio__text::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: v.$brand-color-400;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);

  @include m.breakpoint(medium) {
    width: 18px;
    height: 18px;
    left: 11px;
  }
}

.radio:focus-within .radio__text::before {
  border-color: v.$color-gray-400;
}
