@use "variables" as v;
@use "mixins" as m;

.result-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }

  @include m.breakpoint(medium) {
    margin-right: 42px;
  }
}

.result-data__parameter {
  order: 2;
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-4xs;
  line-height: v.$line-height-4xs;
  text-align: center;
  margin-top: -8px;
  background-color: #eaeaea;
  width: 87px;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-3xs;
    line-height: v.$line-height-3xs;
    background-color: v.$white-color;
    width: auto;
    padding: 0 10px;
  }

  @include m.breakpoint(large) {
    background-color: v.$color-gray-50
  }
}

.result-data__descr {
  order: 1;
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-m;
  line-height: v.$line-height-m;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 100%;
  padding: 14px 0 17px;
  margin: 0;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-l;
    line-height: v.$line-height-2xl;
  }
}
