@use "variables" as v;
@use "mixins" as m;

.show-more-card {
  padding-top: 78px;
  padding-bottom: 25px;
  position: relative;
  background-image: url("../img/sprite.svg#plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: top 25px left 125px;
  margin-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    border: 1px solid v.$color-gray-100;
    top: 0;
    left: calc(50% - 50vw);
    width: 100vw;
  }

  &::after {
    content: "";
    position: absolute;
    border: 1px solid v.$color-gray-100;
    bottom: 0;
    left: calc(50% - 50vw);
    width: 100vw;
  }

  @include m.breakpoint(medium) {
    padding: 38px;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 2px solid v.$color-gray-50;
    background-size: 60px 60px;
    background-position: top 52px left 132px;
    margin-bottom: 0;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @include m.breakpoint(large) {
    background-position: top 52px left 92px;
  }
}

.show-more-card__title {
  font-family: v.$primary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-s;
  color: #111111;
  text-transform: uppercase;
  display: block;
  text-align: center;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-s;
    line-height: 22px;
  }
}

.show-more-card__text {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-4xs;
  line-height: v.$line-height-2xs;
  color: v.$color-gray-400;
  text-align: center;

  @include m.breakpoint(medium) {
    font-size: v.$font-size-2xs;
    line-height: v.$line-height-xs;
    margin-top: 23px;
    margin-bottom: 87px;
  }
}

.show-more-card__button {
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-s;
  background-color: v.$color-gray-50;
  border: none;
  color: v.$color-gray-400;
  width: 100%;
}
