@use "variables" as v;

.social-list__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  width: 28px;
  height: 22px;
  padding: 4px;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-color: v.$color-gray-300;

  &:hover,
  &:focus {
    background-color: v.$brand-color-400;
  }

  &:active {
    opacity: 0.3;
  }

  &--vkontakte {
    mask: url("../img/sprite.svg#vkontakte");
  }

  &--youtube {
    mask: url("../img/sprite.svg#youtube");
  }

  &--telegram {
    mask: url("../img/sprite.svg#telegram");
  }
}
