@use "variables" as v;

@mixin text-small {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-3xs;
  line-height: v.$line-height-xs;
  color: v.$color-gray-400;
}

@mixin text-small-big-screen {
  font-family: v.$secondary-font;
  font-weight: 400;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-m;
  color: v.$black-color;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin form-reset {
  border: none;
  padding: 0;
  margin: 0;
}

@mixin breakpoint($breakpoint) {
  @media (min-width: map-get(v.$breakpoints, $breakpoint)) {
    @content;
  }
}
