// Color
$text-color-primary: #000000;
$text-color-secondary: #FFFFFF;
$background-color-primary: #68B738;
$background-color-secondary: #F2F2F2;
$background-color-light: #FFFFFF;


// Font-size
$font-size-xxl: 60px;
$font-size-xl: 36px;
$font-size-l: 30px;
$font-size-m: 24px;
$font-size-s: 20px;
$font-size-xs: 16px;
$font-size-xxs: 14px;

// Line-height
$line-height-4xl: 60px;
$line-height-3xl: 40px;
$line-height-2xl: 36px;
$line-height-xl: 30px;
$line-height-l: 26px;
$line-height-m: 24px;
$line-height-s: 20px;
$line-height-xs: 18px;
$line-height-2xs: 16px;
$line-height-3xs: 14px;
$line-height-4xs: 12px;

@mixin block-center {
  width: 280px;
  margin: 0 auto;
}

@mixin text-style-small {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $font-size-xxs;
  line-height: $line-height-xs;
  color: $text-color-primary;
}
