// Color
$white-color: #ffffff;
$black-color: #000000;
$brand-color-500: #5eaa2f;
$brand-color-400: #68b738;
$color-gray-500: #222222;
$color-gray-400: #444444;
$color-gray-300: #666666;
$color-gray-200: #cdcdcd;
$color-gray-100: #ebebeb;
$color-gray-50: #f2f2f2;

// Font-family
$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;

// Font-size
$font-size-2xl: 60px;
$font-size-xl: 36px;
$font-size-l: 30px;
$font-size-m: 24px;
$font-size-s: 20px;
$font-size-xs: 16px;
$font-size-2xs: 14px;
$font-size-3xs: 12px;

// Line-height
$line-height-4xl: 60px;
$line-height-3xl: 40px;
$line-height-2xl: 36px;
$line-height-xl: 30px;
$line-height-l: 26px;
$line-height-m: 24px;
$line-height-s: 20px;
$line-height-xs: 18px;
$line-height-2xs: 16px;
$line-height-3xs: 14px;
$line-height-4xs: 12px;
