@use 'variables' as v;
@use "./fonts.scss";

@use "./blocks/logo.scss";
@use "./blocks/main-title.scss";
@use "./blocks/secondary-title.scss";
@use "./blocks/primary-button.scss";
@use "./blocks/main-nav.scss";
@use "./blocks/result-data.scss";
@use "./blocks/address.scss";
@use "./blocks/social-list.scss";

@use "./blocks/hero.scss";
@use "./blocks/program.scss";
@use "./blocks/about.scss";
@use "./blocks/example.scss";
@use "./blocks/address-map.scss";

@use "./blocks/page-header.scss";
@use "./blocks/page-footer.scss";


.page__body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: v.$font-size-s;
  background-color: v.$text-color-secondary;
  color: v.$text-color-primary;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
