@use "variables" as v;

.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    background-color: v.$background-color-primary;
    opacity: 85%;
    z-index: -1;
  }
}

.hero__wrapper {
  @include v.block-center;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 320px;
    height: 302px;
    background: url("../../img/bg-cat-hero.png");
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    z-index: -2;
  }
}

.hero__title {
  color: v.$color-light;
  margin-top: 27px;
  text-align: center;
}

.hero__slogan {
  font-family: "Oswald", sans-serif;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-3xs;
  color: v.$color-light;
  text-transform: uppercase;
  margin-top: 25px;
  display: block;
  text-align: center;
}

.hero__image {
  display: block;
  margin-top: 29px;
}

.hero__button {
  width: 100%;
  font-size: v.$font-size-2xs;
  line-height: v.$line-height-xs;
  padding: 7px 44px;
  box-sizing: border-box;
  text-align: center;
}
